<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Contact Me</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <section>
        <h2>Get in Touch</h2>
        <p>Email: amrutampriya@gmail.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/priyanka-dakkata-aa29652a5/">linkedin.com/in/priyanka</a></p>
    </section>
</body>
</html>
